!!!
%html.no-js{lang: "en"}
  %head
    %title 1uptalent#{current_article.nil? ? " | building your dreams" : " - #{current_article.title}"}
    = partial 'head'
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "1uptalent Feed"
    = google_analytics_tag
  %body{class: page_classes}
    = partial 'header'
    %section.main
      .row
        .large-8.columns
          .row.title
            .large-12.columns
              - if current_article
                %h1
                  = current_article.title
                %h4
                  %small Posted on #{current_article.date.strftime('%B %d, %Y')}
          .row
            .large-12.columns
              = yield
        %aside.large-4.columns
          %h3 Recent posts
          %ol.side-nav
            - blog.articles[0...10].each do |article|
              %li
                = link_to article.title, article
                = article.date.strftime('%b %e')
          %h3 Tags
          %ol.side-nav
            - blog.tags.each do |tag, articles|
              %li
                = link_to tag, tag_path(tag)
                (#{articles.size})
          %h3 By Year
          %ol.side-nav
            - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
              %li
                = link_to year, blog_year_path(year)
                (#{articles.size})
    = partial 'footer'
