!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title
      1uptalent#{' - ' + current_article.title unless current_article.nil?}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "1uptalent Feed"
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Nobile:r,i,b,bi|Merriweather:r,i,b,bi&subset=latin' }/
    %link{ href: "/css/app.css", rel: "stylesheet" }/
    %script{ src: "/bower_components/modernizr/modernizr.js" }/
    %link{ rel: "apple-touch-icon", sizes: "152x152", href: "/apple-touch-icon-152x152-precomposed.png" }/
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "/apple-touch-icon-144x144-precomposed.png" }/
    %link{ rel: "apple-touch-icon", sizes: "120x120", href: "/apple-touch-icon-114x114-precomposed.png" }/
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "/apple-touch-icon-114x114-precomposed.png" }/
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "/apple-touch-icon-72x72-precomposed.png" }/
    %link{ rel: "apple-touch-icon", href: "/apple-touch-icon-precomposed.png" }/
    %link{ rel: "shortcut icon", href: "/favicon.png" }/
    %link{ rel: "icon", type: "image/ico", href: "/favicon.ico" }
    = google_analytics_tag
  %body{class: page_classes}
    = partial 'header'
    %section.main
      .row
        .large-8.columns
          .row.title
            .large-12.columns
              - if current_article
                %h1
                  = current_article.title
                %h4
                  %small Posted on #{current_article.date.strftime('%B %d, %Y')}
          .row
            .large-12.columns
              = yield
        %aside.large-4.columns
          %h3 Recent posts
          %ol.side-nav
            - blog.articles[0...10].each do |article|
              %li
                = link_to article.title, article
                = article.date.strftime('%b %e')
          %h3 Tags
          %ol.side-nav
            - blog.tags.each do |tag, articles|
              %li
                = link_to tag, tag_path(tag)
                (#{articles.size})
          %h3 By Year
          %ol.side-nav
            - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
              %li
                = link_to year, blog_year_path(year)
                (#{articles.size})
    = partial 'footer'
    %script{src: "/bower_components/jquery/jquery.js"}
    %script{src: "/bower_components/foundation/js/foundation.min.js"}
    %script{src: "/js/app.js"}
