!!!
%html.no-js{lang: "en"}
  %head
    %title 1uptalent | building your dreams
    = partial 'head'
    = google_analytics_tag
  %body{class: page_classes}
    = partial 'header'
    %section.main
      = yield
    = partial 'footer'
