!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    - if locals[:redirected_url]
      %meta{ "http-equiv" => "refresh", "content" => "3; url=#{locals[:redirected_url]}" }
      %link{ rel: "canonical", href: "#{locals[:redirected_url]}"}
    %title 1uptalent | building your dreams
    %link{ rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Nobile:r,i,b,bi|Merriweather:r,i,b,bi&subset=latin' }/
    %link{ href: "/css/app.css", rel: "stylesheet" }/
    %script{ src: "//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js" }
    %link{ rel: "apple-touch-icon", sizes: "152x152", href: "/apple-touch-icon-152x152-precomposed.png" }/
    %link{ rel: "apple-touch-icon", sizes: "144x144", href: "/apple-touch-icon-144x144-precomposed.png" }/
    %link{ rel: "apple-touch-icon", sizes: "120x120", href: "/apple-touch-icon-114x114-precomposed.png" }/
    %link{ rel: "apple-touch-icon", sizes: "114x114", href: "/apple-touch-icon-114x114-precomposed.png" }/
    %link{ rel: "apple-touch-icon", sizes: "72x72", href: "/apple-touch-icon-72x72-precomposed.png" }/
    %link{ rel: "apple-touch-icon", href: "/apple-touch-icon-precomposed.png" }/
    %link{ rel: "shortcut icon", href: "/favicon.png" }/
    %link{ rel: "icon", type: "image/ico", href: "/favicon.ico" }
    = google_analytics_tag
  %body{class: page_classes}
    = partial 'header'
    %section.main
      = yield
    = partial 'footer'
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"}
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/foundation.min.js"}
    :javascript
      $(document).foundation()
